@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #000;
}



/* Profile Floating Animation */

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0.25;
  }

  25% {
    transform: translate3d(20px, -30px, 0);
    opacity: 0.7;
  }

  50% {
    transform: translate3d(-15px, -55px, 0);
    opacity: 0.35;
  }

  75% {
    transform: translate3d(25px, -25px, 0);
    opacity: 0.65;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0.25;
  }
}

.animate-floating {
  animation-name: floating;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}